.jumbotron{
  background-color: yellow;
  color: red;
  margin-top: 50px;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: #7D8BAC;
    margin-bottom: 0px;
    margin-top: 10px;
}

.product{
    flex: 1 200px;
    /*padding: 2px 0px 2px 0px;*/
    margin-top: 15px;
    color: #1C4DBF;
    /*color: #DFE1E5; */
}

.btn-comprar{
    width: 100%;
    border-radius: 0px;
}
a:link{
    color: #0A2054;
}
a:visited{
    color: #0A2054;
}
label{
    margin-left: 5px;
}
.tab-content{
    margin-top: 10px;
}
.encabezados{
    background-color: #212529;
    color: #FFFFFF;
}
.botones-colapsables{
    margin-top: 10px;
}