.jumbotron {
  background: #FFE54E;
  color: #FF4E4E;
  margin: 50px, 0px, 0px, 0px;
}
.footer {
  padding: 10px, 10px, 0px, 10px;
  background-color: #487DC6;
  margin: 10px, 0px, 0px, 0px;
}
.product {
  flex: 1 200px;
  margin: 15px, 0px, 0px, 0px;
  color: #1C4DBF;
}
.btn-comprar {
  width: 100%;
  border-radius: 0px;
}
a:link {
  color: #FFFFFF;
}
a:visited {
  color: #FFFFFF;
}
label {
  margin: 0px, 0px, 0px, 5px;
}
.tab-content {
  margin: 10px, 0px, 0px, 0px;
}
.encabezados {
  background-color: #212529;
  color: #FFFFFF;
}
.botones-colapsables {
  margin: 10px, 0px, 0px, 0px;
}
