$yellow: #FFE54E;
$blue: #487DC6;
$red: #FF4E4F;
$verde: #44DE44;
$productTitleColor: #1C4DBF;
$headTableColor: #212529;
$white: #FFFFFF;
$tamaño: 90px;

@mixin margin($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left;
}

@mixin padding($top, $right, $bottom, $left){
    padding: $top $right $bottom $left;
}

@mixin groso($width){
    border: $width solid #DDD;
    &:hover{
        border-color:#FFFF00;
    }
}

.jumbotron{
    background: $yellow;
    color: $blue;
    @include margin(50px, 0px, 0px, 0px);
}

.footer{
    @include padding(10px, 10px, 0px, 10px);
    background-color: $blue;
    @include margin(10px, 0px, 0px, 0px);
}

.product{
    flex: 1 200px;
    @include margin(15px, 0px, 0px, 0px);
    color: $productTitleColor;
}

.btn-comprar{
    width: 100%;
    border-radius: 0px;
}

a:link{
    color: $verde;
}
a:visited{
    color: $verde
}
label{
    @include margin(0px, 0px, 0px, 5px);
}
.tab-content{
    @include margin(10px, 0px, 0px, 0px);
}
.encabezados{
    background-color: $headTableColor;
    color: $white;
}
.botones-colapsables{
    @include margin(10px, 0px, 0px, 0px);
}

#miImagen{
    width: $tamaño;
    height: $tamaño;
    background-color: $red;
}

h1{
    @include groso(15px);
}