@yellow: #FFE54E;
@blue: #487DC6;
@red: #FF4E4E;
@verde: #44DE44;
@productTitleColor: #1C4DBF;
@headTableColor: #212529;
@white: #FFFFFF;

.margin(@top:0px, @right:0px, @bottom:0px, @left:0px){
    margin: @top, @right, @bottom, @left;
}

.padding(@top:0px, @right:0px, @bottom:0px, @left:0px){
    padding: @top, @right, @bottom, @left;
}

.jumbotron{
    background: @yellow;
    color: @red;
    .margin(50px, 0px, 0px, 0px);
}

.footer{
    .padding(10px, 10px, 0px, 10px);
    background-color: @blue;
    .margin(10px, 0px, 0px, 0px);
}

.product{
    flex: 1 200px;
    .margin(15px, 0px, 0px, 0px);
    color: @productTitleColor;
}

.btn-comprar{
    width: 100%;
    border-radius: 0px;
}

a:link{
    color: @white;
}
a:visited{
    color: @white;
}
label{
    .margin(0px, 0px, 0px, 5px);
}
.tab-content{
    .margin(10px, 0px, 0px, 0px);
}
.encabezados{
    background-color: @headTableColor;
    color: @white;
}
.botones-colapsables{
    .margin(10px, 0px, 0px, 0px);
}

